In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({'a': np.random.randint(0, 2, size=(100000))})
df

       a
0      0
1      0
2      0
3      0
4      0
...   ..
99995  0
99996  1
99997  1
99998  1
99999  0

[100000 rows x 1 columns]

In [7]:
%timeit df['a'].value_counts()

305 µs ± 2.46 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [8]:
%timeit (df['a']==0).sum()

89.4 µs ± 230 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)